
@{
    ViewBag.Title = "Alışverişi Tamamla";
}

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/images/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Alışverişi Tamamla</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Anasayfa</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Alışverişi Tamamla</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Checkout Area -->
<section class="our-checkout-area ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <div class="ckeckout-left-sidebar">
                    <!-- Start Checkbox Area -->
                    <div class="checkout-form">
                        <h2 class="section-title-3">Fatura Ayrıntıları</h2>
                        <div class="checkout-form-inner">
                            <div class="single-checkout-box">
                                <input type="text" placeholder="Ad Soyad">
                                <input type="text" placeholder="TC Kimlik No/Vergi No*">
                            </div>
                            <div class="single-checkout-box">
                                <input type="email" placeholder="E-Posta*">
                                <input type="text" placeholder="Telefon*">
                            </div>
                            <div class="single-checkout-box">

                                <textarea placeholder="Adres*"></textarea>

                            </div>
                            <div class="single-checkout-box select-option mt--40">
                                <select>
                                    <option>Ülke*</option>
                                    <option>Türkiye</option>
                                    <option>Bangladesh</option>
                                    <option>Bangladesh</option>
                                    <option>Bangladesh</option>
                                </select>
                                <input type="text" placeholder="Firma Adı*">
                            </div>


                            <div class="single-checkout-box ">
                                <select>
                                    <option>Şehir*</option>
                                    <option>İstanbul</option>
                                    <option>Bangladesh</option>
                                    <option>Bangladesh</option>
                                    <option>Bangladesh</option>
                                </select>
                                <input type="text" placeholder="Posta Kodu*">
                            </div>
                        </div>
                    </div>
                    <!-- End Checkbox Area -->
                    <!-- Start Payment Box -->
                    <div class="payment-form">
                        <h2 class="section-title-3">Ödeme Ayrıntıları</h2>
                        <p>Sitemiz SSL sertifikası ile korunmaktadır,ayrıca 3D güvenlik kullanmaktayız.</p>
                        <div class="payment-form-inner">
                            <div class="single-checkout-box">
                                <input type="text" placeholder="Kart Üzerindeki İsim*">
                                <input type="text" placeholder="Kart Numarası*">
                            </div>
                            <div class="single-checkout-box">
                                <input type="text" class="form-control pull-right" placeholder="Güvenlik Kodu*">
                                <div class="input-group pull-left" style="display:inline-block;">
                                    <div style="display:inline-block;">
                                        <select class="form-control" style="width:167px;">
                                            <option>Ay*</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                        </select>
                                    </div><div style="display:inline-block;">
                                        <select class="form-control" style="width:167px;">
                                            <option>Yıl*</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br style="clear:both" />
                    </div>
                    <!-- End Payment Box -->
                    <!-- Start Payment Way -->
                    <div class="our-payment-sestem">
                        <h2 class="section-title-3">Şu tip kartları kabul ediyoruz :</h2>
                        <ul class="payment-menu">
                            <li><a href="#"><img src="/images/payment/1.jpg" alt="payment-img"></a></li>
                            <li><a href="#"><img src="/images/payment/2.jpg" alt="payment-img"></a></li>
                            <li><a href="#"><img src="/images/payment/3.jpg" alt="payment-img"></a></li>
                            <li><a href="#"><img src="/images/payment/4.jpg" alt="payment-img"></a></li>
                            <li><a href="#"><img src="/images/payment/5.jpg" alt="payment-img"></a></li>
                        </ul>
                        <div class="checkout-btn">
                            <a class="ts-btn btn-light btn-large hover-theme" href="#">ÖDEMEYİ YAP & SATIN AL</a>
                        </div>
                    </div>
                    <!-- End Payment Way -->
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="checkout-right-sidebar">
                    <div class="our-important-note">
                        <h2 class="section-title-3">Note :</h2>
                        <p class="note-desc">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed do eiusmod tempor incididunt ut laborekf et dolore magna aliqua.</p>
                        <ul class="important-note">
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet</a></li>
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet, consectetur nipabali</a></li>
                            <li><a href="#"><i class="zmdi zmdi-caret-right-circle"></i>Lorem ipsum dolor sit amet</a></li>
                        </ul>
                    </div>
                    <div class="puick-contact-area mt--60">
                        <h2 class="section-title-3">HIZLI İRTİBAT</h2>
                        <a href="phone:+8801722889963">+012 345 678 102 </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Checkout Area -->
